#contact_social {
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  text-decoration: none !important;
  z-index: 9999;
}
#contact_social a {
  display: block;
  margin-bottom:6px;
  overflow:hidden;
  background-image: url(contact_social.png);
  background-repeat:no-repeat;
  background-color:transparent;
}
#contact_social a.contact-social-twitter {
	background-position: 0 0;
}
#contact_social a.contact-social-facebook {
	background-position: 0 -35px;
}
#contact_social a.contact-social-contact-us {
	background-position: 0 -70px;
}
#contact_social a.contact-social-twitter:hover {
	background-position: -35px 0;
}
#contact_social a.contact-social-facebook:hover {
	background-position: -35px -35px;
}
#contact_social a.contact-social-contact-us:hover {
	background-position: -35px -70px;
}
#contact_social img {
  border: none;
}

.contact_social-left {
  left: 0px;
}

.contact_social-right {
  right: 0px;
}